<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('esta seguro de eliminar esta categoria');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}"><br>
    <button class="btn btn-danger">Eliminar</button>
</form>
