{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

{{parent()}}

    <h1>Crea una nueva categoria</h1>
<div class="container my-3" >
    {{ include('category/_form.html.twig') }}
<hr>
    <a href="{{ path('app_category_index') }}"  class="btn btn-dark">ver Lista</a>
</div>

{% endblock %}
